/* normalize */

html {
  box-sizing: border-box;
  font-weight: 400;
  font-size: 24px;
  line-height: 34.68px;
  color: var(--mid-gray);
  /* text-shadow: 0 2px 0 rgba(0, 0, 0, 0.07); */
}

/* Basic styles */
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  /* min-height: calc(100vh - 100px);
  margin: 50px;
  letter-spacing: -1px; */
  font-family: 'Jost', sans-serif;
  background-color: var(--athens-gray);
}

/* h2 */
.title {
  font-weight: 800;
  font-size: 64px;
  line-height: 70px;
  color: var(--common-black);
}

/* h3 */
.sub-title {
  font-weight: 600;
  font-size: 36px;
  line-height: 52.02px;
  color: var(--common-black);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

a {
  text-decoration: none;
  display: block;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* 
:root {
  --common-white: #fff;
  --orange: #f07f2e;
  --grey: #2c2c2c;
  --common-black: #2f2f37;
  --blue-light: #ecf6ff;
  --navy: #d8def8;
  --scarlet: #fae8ea;
  --yellow: #fffddc;
  --pink: #ffe8f1;
  --turquoise: #e9f9f8;
  --lilac: #f2eef8;
  --common-font: Montserrat, Helvetica, sans-serif;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


h1

.lable {
  font-size: 124px;
  font-weight: 800;
  line-height: 140px;
  
}




img {
  display: block;
  width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  display: block;
}

ul {
  list-style: none;
}

@media (min-width: 768px) {
  .sub-title {
    font-size: 20px;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 0.5px;
  }
} */
