@import url(./basic-styles.css);

:root {
  --common-whitr: #fff;
  --common-black: #1b1b1d;
  --mid-gray: #64646a;
  --athens-gray: #eeeff1;
  --porcelain: #f3f4f5;
}

.section {
  padding-top: 96px;
  padding-bottom: 96px;
}

.container {
  max-width: 1140px;
  padding-left: 100px;
  padding-right: 100px;
  margin-left: auto;
  margin-right: auto;
}

.header-logo {
  font-weight: 500;
  font-size: 15px;
  line-height: 21.68px;
  color: var(--common-black);

  background-image: url('../images/logo/logo-small-PMG.png');
  background-repeat: no-repeat;

  width: 126px;
  height: 50px;
}

.header-item > a {
  font-weight: 500;
  font-size: 15px;
  line-height: 21.68px;
  color: var(--common-black);
}

/* hero */
.hero-lable {
  font-weight: 800;
  font-size: 124px;
  line-height: 140px;
  color: var(--common-black);

  margin-top: 124px;
}

.png {
  display: block;
  background-image: url('../images/png/hero-cup.png');

  background-repeat: no-repeat;
  /* background-position: left bottom; */
  background-position: 100%;
  background-size: contain;
  /* width: 700px;
  height: 712px; */
}

.hero-text {
  margin-top: 30px;
}

.hero-button {
  margin-top: 60px;
}

.hero-link {
  font-weight: 500;
  font-size: 18px;
  line-height: 30px;
  /* text-decoration: underline; */
  text-transform: uppercase;
  color: var(--common-black);
}

/* contact */
.contact-link-text {
  font-weight: 500;
  font-size: 18px;
  line-height: 30px;
  /* text-decoration: underline; */
  text-transform: uppercase;
  color: var(--common-black);
}

.contact-link > a {
  font-weight: 400;
  font-size: 30px;
  line-height: 44px;
  color: var(--mid-gray);
}
