@import url(./basic-styles.css);

:root {
  --common-whitr: #fff;
  --common-black: #1b1b1d;
  --mid-gray: #64646a;
  --athens-gray: #eeeff1;
  --porcelain: #f3f4f5;
}

.header-logo {
  font-weight: 500;
  font-size: 15px;
  line-height: 21.68px;
  color: var(--common-black);
}

.header-item > a {
  font-weight: 500;
  font-size: 15px;
  line-height: 21.68px;
  color: var(--common-black);
}

/* hero */
.lable {
  font-weight: 800;
  font-size: 124px;
  line-height: 140px;
  color: var(--common-black);
}

.hero-link {
  font-weight: 500;
  font-size: 18px;
  line-height: 30px;
  /* text-decoration: underline; */
  text-transform: uppercase;
  color: var(--common-black);
}

/* contact */
.contact-link-text {
  font-weight: 500;
  font-size: 18px;
  line-height: 30px;
  /* text-decoration: underline; */
  text-transform: uppercase;
  color: var(--common-black);
}

.contact-link > a {
  font-weight: 400;
  font-size: 30px;
  line-height: 44px;
  color: var(--mid-gray);
}
