@import url(./basic-styles.css);

:root {
  --common-whitr: #fff;
  --common-black: #1b1b1d;
  --mid-gray: #64646a;
  --athens-gray: #eeeff1;
  --porcelain: #f3f4f5;
}

.section {
  padding-top: 96px;
  padding-bottom: 96px;
}

.container {
  padding-left: 100px;
  padding-right: 100px;
  margin-left: auto;
  margin-right: auto;

  width: 1276px;
}

.header-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-top: 24px;
}

.header-logo {
  font-weight: 500;
  font-size: 15px;
  line-height: 21.68px;
  color: var(--common-black);
}

.header-list {
  display: flex;
  align-items: center;
}

.header-item {
  margin-right: 40px;
}

.header-item > a {
  font-weight: 500;
  font-size: 15px;
  line-height: 21.68px;
  color: var(--common-black);
}

.header-basket:hover,
.header-basket:focus {
  background-color: var(--athens-gray);
}

.header-basket-buy {
  display: flex;
  align-items: center;
}

.header-basket {
  display: flex;
  align-items: center;
  cursor: pointer;
  background-color: #fff;
  border-radius: 50%;
  width: 56px;
  height: 56px;
  padding: 16px;
  margin-right: 20px;
}

.header-btn {
  color: var(--common-whitr);
  background-color: var(--common-black);

  padding: 15px 30px;
  border-radius: 63px;
  border: none;

  font-weight: 500;
  font-size: 15px;

  cursor: pointer;
}

.header-btn:hover,
.header-btn:focus {
  background-color: var(--mid-gray);
  color: var(--athens-gray);
}

/* hero */
.hero-lable {
  font-weight: 800;
  font-size: 124px;
  line-height: 140px;
  color: var(--common-black);

  /* margin-top: 124px; */
}

.hero-png {
  display: block;
  background-image: url('../images/png/hero-cup.png');

  background-repeat: no-repeat;
  /* background-position: left bottom; */
  background-position: 100%;
  background-size: contain;
  /* width: 700px;
  height: 712px; */
}

.hero-text {
  margin-top: 30px;
}

.hero-wrap {
  display: flex;
  align-items: center;

  margin-top: 60px;
}

.hero-btn {
  color: var(--common-whitr);
  background-color: var(--common-black);

  margin-right: 30px;
  padding: 20px 40px;
  border-radius: 126px;
  border: none;

  font-weight: 500;
  font-size: 18px;

  cursor: pointer;
}

.hero-link {
  font-weight: 500;
  font-size: 18px;
  line-height: 30px;
  cursor: pointer;
  text-transform: uppercase;
  color: var(--common-black);
}

/* Our production */

.product-title {
  text-align: center;
  margin-bottom: 24px;
}

.product-text {
  text-align: center;
  margin-bottom: 90px;
}

.product-section {
  background-color: var(--common-whitr);
}

.product-list {
  display: flex;
  gap: 30px;
}

.product-item {
  width: 393px;
  border: 1px solid #1b1b1d;
  border-radius: 24px;
  padding: 40px;
}

.product-sub {
  margin-bottom: 8px;
}

.product-sub-text {
  margin-bottom: 60px;
  text-align: start;
}

.product-svg {
  margin-bottom: 60px;

  /* display: flex;
  text-align: center;
  top: 50%;
  left: 50%; */
  /* margin-left: 121px; */
}

.product-btn {
  display: block;
  margin: 0 auto;

  color: var(--common-whitr);
  background-color: var(--common-black);

  padding: 15px 30px;
  border-radius: 126px;
  border: none;

  font-weight: 500;
  font-size: 18px;
  width: 225px;

  cursor: pointer;
}

/* contact */
.contact-link-text {
  font-weight: 500;
  font-size: 18px;
  line-height: 30px;
  /* text-decoration: underline; */
  text-transform: uppercase;
  color: var(--common-black);
}

.contact-link > a {
  font-weight: 400;
  font-size: 30px;
  line-height: 44px;
  color: var(--mid-gray);
}
