@media (max-width: 480px) {
  .box {
    background-color: #fff;
    padding: 20px;
  }

  .box h1 {
    font-size: 18px;
  }

  .box p {
    font-size: 14px;
  }

  .box button {
    width: 100%;
    padding: 10px;
  }
}

@media (min-width: 481px) and (max-width: 768px) {
  .box {
    background-color: tomato;
    padding: 18px;
  }

  .box h1 {
    font-size: 22px;
  }

  .box p {
    font-size: 16px;
  }

  .box button {
    width: 50%;
    padding: 12px;
    margin: 0 auto;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .box {
    background-color: blue;
    padding: 16px;
  }

  .box h1 {
    font-size: 26px;
  }

  .box p {
    font-size: 18px;
  }

  .box button {
    width: 40%;
    padding: 14px;
    margin: 0 auto;
  }
}

@media (min-width: 1025px) {
  .box {
    background-color: teal;
    padding: 14px;
  }

  .box h1 {
    font-size: 30px;
  }

  .box p {
    font-size: 20px;
  }

  .box button {
    width: 30%;
    padding: 16px;
    margin: 0 auto;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.box button {
  cursor: pointer;
  animation: fadeIn 1s; /* Додаємо анімацію появи */
}

.box button:hover,
.box button:focus {
  background-color: blue;
  color: wheat;
}
